/*========= MENU SETTINGS PAGE =========*/

.si-ab-mobile-menu-settings h1 {
    margin-bottom: 0;
}

.si-ab-mobile-menu-settings h3 {
    font-size: 14px;
    line-height: 1em;
    font-weight: 600;
}

.si-ab-mobile-menu-settings h4 {
    margin-bottom: 30px;
    font-weight: 400;
}

.si-ab-mobile-menu-settings__form > div {
    margin-bottom: 20px;
}

.si-ab-mobile-menu-settings__form > div:nth-last-of-type(1) {
    margin-bottom: 30px;
}

.si-ab-mobile-menu-settings__form > div > div {
    margin-bottom: 5px;
}

.si-ab-mobile-menu-settings__form select,
.si-ab-mobile-menu-settings__form input {
    width: 20rem;
}

.si-ab-mobile-menu-checkbox-row {
    display: flex;
    align-items: center;
}

.si-ab-mobile-menu-checkbox-row input {
    margin: 0 10px 0 0;
    width: 1rem;
    height: 1rem;
}

.si-ab-mobile-menu-checkbox-row h4 {
    margin: 0;
}

.si-ab-mobile-menu-settings .successful-text {
    color: green;
}

.si-ab-mobile-menu-settings .error-text {
    color: red;
}
