/*========= MOBILE MENU =========*/
.si-ab-mobile-menu-header-holder {
    position: fixed;
    display: flex;
    align-items: center;
    top: 32px;
    right: 0;
    left: 0;
    width: 100%;
    height: 50px;
    font-weight: bold;
    color: #000;
    padding: 0 10px;
    box-sizing: border-box;
    z-index: 9999;
    background-color: blue;
}

/*========= TOGGLE ICON =========*/
.si-ab-mobile-menu-toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 0;
    cursor: pointer;
    width: 30px;
    height: 25px;
    position: relative;
    z-index: 1;
    transform: translateY(-1px);
}

.si-ab-mobile-menu-toggle:hover {
    background: none !important;
}

.si-ab-mobile-menu-toggle > span {
    display: inline-block;
    pointer-events: none;
}

.si-ab-mobile-menu-toggle > span > em {
    position: relative;
    width: 30px;
    display: block;
}

.si-ab-mobile-menu-toggle > span > em:before,
.si-ab-mobile-menu-toggle > span > em:after {
    content: "";
    display: block;
    position: absolute;
}

.si-ab-mobile-menu-toggle > span > em,
.si-ab-mobile-menu-toggle > span > em:before,
.si-ab-mobile-menu-toggle > span > em:after {
    width: 22px;
    height: 3px;
    background-color: #fff;
    border-radius: 3px;
}

.si-ab-mobile-menu-toggle > span > em:before {
    top: -7px;
    width: 22px;
}

.si-ab-mobile-menu-toggle > span > em:after {
    top: 7px;
}

/*========= TOGGLE ICON CLICK =========*/
.si-ab-mobile-menu-header-holder.toggled .si-ab-mobile-menu-toggle > span > em {
    width: 22px;
    transform: translate3d(0, 0, 0) rotate(-45deg);
}

.si-ab-mobile-menu-header-holder.toggled .si-ab-mobile-menu-toggle > span > em:before {
    top: 0;
    transform: rotate(-90deg);
}

.si-ab-mobile-menu-header-holder.toggled .si-ab-mobile-menu-toggle > span > em:after {
    top: 0;
    opacity: 0;
}

/*========= LOGO =========*/
.si-ab-mobile-menu-logo-holder {
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    font-size: 17px;
    text-transform: capitalize;
}

.si-ab-mobile-menu-logo-holder a {
    text-decoration: none;
    color: #fff;
}

/*========= LEFT PANEL =========*/
.si-ab-mobile-menu-left-panel {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 80%;
    height: 100vh;
    visibility: hidden;
    transform: translate(-100%, 50px);
    transition: all 0.2s ease;
}

.si-ab-mobile-menu-left-panel .mobile-tabs {
    text-align: center;
    background-color: #000;
}

.si-ab-mobile-menu-left-panel .mobile-menu {
    width: 100%;
    background-color: #000;
    box-sizing: border-box;
    padding: 0 10px;
}

.si-ab-mobile-menu-left-panel .mobile-menu .mobile-menu-ul {
    display: none;
}

.si-ab-mobile-menu-left-panel .mobile-menu .mobile-menu-ul li {
    margin: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}

.si-ab-mobile-menu-left-panel .mobile-menu .mobile-menu-ul li a {
    color: #fff;
    padding: 10px 0;
    border-radius: 0;
    display: block;
    text-decoration: none;
    transition: all 0.2s ease;
    background: none;
}

.si-ab-mobile-menu-left-panel .mobile-menu .mobile-menu-ul li .sub-menu-toggle {
    display: none;
}

.si-ab-mobile-menu-left-panel .mobile-menu .mobile-menu-ul li .sub-menu {
    padding: 5px 0 10px 20px;
}

.si-ab-mobile-menu-left-panel .mobile-menu .mobile-menu-ul li .sub-menu li:nth-last-of-type(1) {
    border-bottom: none;
}

.si-ab-mobile-menu-left-panel .mobile-menu .mobile-menu-ul li a:hover,
.si-ab-mobile-menu-left-panel .mobile-menu .mobile-menu-ul li.current-menu-item a,
.si-ab-mobile-menu-left-panel .mobile-menu .mobile-menu-ul li.current_page_item a {
    color: blue;
}

.si-ab-mobile-menu-left-panel .mobile-menu .mobile-menu-ul.show {
    display: block;
}

.si-ab-mobile-menu-left-panel .mobile-tabs ul, .si-ab-mobile-menu-left-panel .mobile-menu ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    line-height: 1em;
    font-weight: 500;
    padding: 0;
    margin: 0;
}

.si-ab-mobile-menu-left-panel .mobile-tabs ul > li {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 15px;
    cursor: pointer;
    color: #fff;
    transition: all 0.2s ease;
}

.si-ab-mobile-menu-left-panel .mobile-tabs ul > li:not(:last-child) {
    margin-bottom: 1px;
}

.si-ab-mobile-menu-left-panel .mobile-tabs ul > li.active,
.si-ab-mobile-menu-left-panel .mobile-tabs ul > li:hover {
    color: blue;
    background-color: rgba(255,255,255,0.1);
}

/*========= TOGGLED =========*/
.toggled .si-ab-mobile-menu-left-panel {
    visibility: visible;
    transform: translate(0%, 50px);
}

/*========= MEDIA =========*/
@media only screen and (min-width: 1025px) {
    .si-ab-mobile-menu-header-holder {
        display: none !important;
    }
}

@media only screen and (max-width: 1024px) {
    .nav, .main-navigation, #main-header, .site-header, .site-branding {
        display: none !important;
    }
}
